body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: lightcyan;
}

.welcome {
    height: 500px;
    top: 0;
    padding-top: 100px;
}

nav {
    position: fixed;
    width: 100%;
}

nav ul {
    text-align: left;
    widows: 100%;
    margin: 0px;
    padding: 10px;

}

nav ul li {
    display: inline-block;
}

nav ul li a{
    padding-right: 20px;
}

h1{
    text-align: center;
}

.profile {
    border: 1px solid gray;
    padding: 30px;
    margin: 10px;
    background-color: lightblue;
}

#profile-link {
    font-size: 1em;
}

#projects {
    border: 1px solid gray;
    padding: 30px;
    margin: 10px;
    background-color: lightsteelblue;
}